@mixin cta-button($button-color) {
  .btn {
    border-radius: 100px;
    border: 2px solid $button-color;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
    overflow: hidden;
    @media #{$breakpoint-medium} {
      padding: 10px 30px;
    }
    a {
      font-family: "lato-black";
      text-transform: uppercase;
      color: $button-color;
      text-decoration: none;
      font-size: 10px;
      letter-spacing: 2px;
      position: relative;
      transition: color 150ms;
      @media #{$breakpoint-medium} {
        font-size: 12px;
      }
    }
    &:before {
      content:'';
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
    &:before {
      transform: translate3d(0, 100%, 0);
      background-color: $button-color;
      transition: transform 150ms ease-in-out;
    }
    &:hover {
      &:before {
        transform: translate3d(0, 0, 0);
      }
      > a {
        color: #FFFFFF;
      }
    }
  }
}

@mixin project-overview {
  max-width: 400px;
  h3 {
    margin: 10px 0 20px 0;
    max-width: 250px;
    @media #{$breakpoint-xlarge} {
      max-width: 400px;
    }
  }
}
