// Breakpoints
$breakpoint-small: "only screen and (min-width: 375px)";
$breakpoint-medium: "only screen and (min-width: 760px)";
$breakpoint-large: "only screen and (min-width: 1000px)";
$breakpoint-xlarge: "only screen and (min-width: 1200px)";
